{% extends 'Web/base.html.twig' %}

{% block header_title %}Stats @ Point Tools{% endblock %}

{% block head_js %}
    {{ parent() }}
    <script src="//code.highcharts.com/5.0.6/highcharts.js"></script>
    <script src="//code.highcharts.com/5.0.6/modules/exporting.js"></script>
{% endblock %}

{% block content %}
    <div id="topchart" style="min-width: 400px; height: 600px; margin: 0 auto;"></div>
    <div id="eventschart" style="min-width: 400px; height: 600px; margin: 0 auto;"></div>

    <script type="text/javascript">
        $(function() {
            {{ top_chart | hc_render('topchart') }}
            {{ events_dynamic_chat | hc_render('eventschart') }}
        });
    </script>
{% endblock %}
