# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_host:     127.0.0.1
    database_port:     5432
    database_name:     point
    database_user:     point
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    point_tools_domain: point.skobk.in
    point_tools_scheme: https
    # Path to public root (e.g. 'path/to/app')
    point_tools_base_url: ''

    point_domain: point.im
    point_scheme: https
    point_base_url:    '%point_scheme%://%point_domain%/'
    point_api_base_url: '%point_base_url%/api/'
    # Delay between calls when updating users subscribers (in microseconds)
    point_api_delay: 500000
    point_use_https: true
    point_login: point-tools
    point_id: 435

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Token for Go crawler https://bitbucket.org/skobkin/point-tools-crawler
    crawler_token:     test_token

    # Telegram bot
    telegram_token:    "123456:some-token"
    telegram_max_connections: 2
