{% extends "::base.html.twig" %}

{% block header_title %}Top @ Point Tools{% endblock %}

{% block head_js %}
    {{ parent() }}
    <script src="//yastatic.net/jquery/2.1.4/jquery.min.js"></script>
    <script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
    <script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        {{ chart(top_chart) }}
    </script>

    <div id="top-chart" style="min-width: 400px; height: 600px; margin: 0 auto;"></div>
{% endblock %}
