{% extends "::base.html.twig" %}

{% block header_title %}Top @ Point Tools{% endblock %}

{% block head_js %}
    {{ parent() }}
    <script src="//code.highcharts.com/5.0.6/highcharts.js"></script>
    <script src="//code.highcharts.com/5.0.6/modules/exporting.js"></script>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        // Top chart
        {{ chart(top_chart) }}
        // Events by day chart
        {{ chart(events_dynamic_chat) }}
    </script>

    <div id="topchart" style="min-width: 400px; height: 600px; margin: 0 auto;"></div>

    <div id="eventschart" style="min-width: 400px; height: 600px; margin: 0 auto;"></div>
{% endblock %}
