{% extends "::base.html.twig" %}

{% block title %}SkobkinPointToolsBundle:Main:index{% endblock %}

{% block body %}
    <h1>{{ users_count }}</h1>
    <h1>{{ subscribers_count }}</h1>
    <h1>{{ events_count }}</h1>
{% endblock %}
